@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}


/* Estilizar el contenedor del PhoneInput */
.phone-input-container .PhoneInput {
  display: flex;
  align-items: center;
  gap: 10px;
}

.phone-input-container .PhoneInputInput {
  background: transparent;
  border: none;
  outline: none;
  font-weight: bold;
  width: 100%;
  color: inherit;
}

/* Ocultar borde del selector de país */
.phone-input-container .PhoneInputCountrySelect {
  cursor: pointer;
}